input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  .help-block {
    color: red;
  }
  
.login-wrap{
	width: 100%;
	margin: 210px;;
	overflow-x: auto;
    overflow-y: auto;
	
	
	background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}