<div class="container">
    <div class="row main">
        <div class="col-md-9">
     
          <div class="table-responsive" id="sailorTableArea">
            <table id="sailorTable" class="table table-striped table-bordered" width="100%">
         
                <thead>
                    <tr>
                        <th>Primary Account</th>
                        <th>Saving Account</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000</td>
                        <td>500</td>
                        
                    </tr>
                   
                    
                </tbody>
            </table>
            </div>
          
  
  <h1>My Profile</h1>
  
  <div class="login-wrap">  
  <form>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input
          type="firstName"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          placeholder="Enter First Name"
          name="firstName"
        />
        
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name :</label>
        <input
          type="lastName"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          placeholder="Enter First Name"
          name="lastName"
        />
       
      </div>
    
   
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input
          type="phoneNumber"
          class="form-control"
          formControlName="phoneno"
          id="phoneNumber"
          placeholder="Enter Phone Number"
          name="phoneNumber"
        />
      </div>
      <div class="form-group">
        <label for="emailId">Email Id:</label>
        <input
          type="emailId"
          class="form-control"
          formControlName="email"
          id="emailId"
          placeholder="Enter Email Id"
          name="emailId"
        />
      </div>
      <div class="form-group">
        <label for="userName">User Name:</label>
        <input
          type="userName"
          class="form-control"
          formControlName="dob"
          id="userName"
          placeholder="Enter User Name"
          name="userName"
        />
      </div>
   
      <button type="submit" class="btn btn-info">Change Setting</button>
    </form>
    
  
  </div>
  
  
  
  
  
  
  
  </div>
  </div>
  </div>